<div class="InnerContaimer">
    <div class="col-md-9">

        <h2>The Beginning </h2>
        <p>Rogan's Shoes was born when Jack Rogan opened his first retail store in 1971 in Racine Wisconsin. Over the years, his family shoe store concept evolved to include more name brands, larger stores and the largest selection in the Midwest. What began as just one store grew to 33 stores in 4 states (Wisconsin, Illinois, Iowa and Minnesota).</p>
        <h2>40 Years Later</h2>
        <p>Although Rogan's began as a brick and mortar retailer, as the popularity of the internet grew, Rogan's saw the opportunities presented by the world wide web. Our first web site was launched in 2000 as an informational site to provide customers with store sale information and listings of all store locations. Four years later Rogan's entered the e-commerce world with a site designed to sell its merchandise online. With over 10,000 items online, we are now truly an online family shoe store. We are continually modifying our site to make the shopping process as easy as possible for all of our customers.</p>

        <h2>Selection & Service</h2>
        <p>Rogan's Shoes carries dress, casual, athletic and work footwear for the entire family. We carry over 100 name brands and thousands of styles of footwear for men, women, children, infants and toddlers. Rogan's is committed to delivering a customer friendly shopping experience that will save customers time and money. In addition to free standard shipping (via UPS Ground or USPS Priority Mail) and easy returns, customers are entitled to a Low Price Guarantee if they find the same shoe at any other website at a lower price than our price (some exceptions apply).</p>
        <h2>Operations</h2>
        <div class="ContactDetails"><p>Rogan's Shoes has over 600 employees and is headquartered in Racine, Wisconsin. Internet operations are based in Oshkosh, Wisconsin. </p>            <p><strong>Call Us:</strong>  1-800-976-4267 (Toll Free).</p>            <p> <strong>Racine Office:</strong> 1750 Ohio Street, Racine, Wisconsin 53405</p>            <p><strong>Internet Office:</strong> 2145 S. Koeller, Oshkosh, Wisconsin 54902</p>            <p><strong>Email:</strong> <a href="mailto:online@rogansshoes.com">online@rogansshoes.com</a></p>
      </div>

    </div>
    
    <div class="col-md-3">
        <div class="ImageSpacer"><img src="../Data/Default/Images/jack-rogan.png" /></div>
        <div class="BannerBox">
            <span id="ctl00_ctl00_MainContent_ucHomeLeftSectionMessage_lblMsg">
                <h2>Rogan's Promise:</h2>
                <ul>
                    <li><span class="fa fa-check-circle"></span>Secure Shopping with <img src="../Data/Default/Images/digi-cert.png" /></li>
                    <li><span class="fa fa-check-circle"></span>100% Satisfaction Guarantee</li>
                    <li><span class="fa fa-check-circle"></span>1 Year Free Exchanges</li>
                </ul>
                <p class="LearnMore"><a href="#">Learn more <span class="fa fa-arrow-circle-right"></span></a></p>
            </span>
        </div>

    </div>
</div>


