    <div class="StorePage">
        <h2>Shoe Store - Rogan's Shoes Appelton West, WI</h2>
        <div class="StoreSection">
            <div class="StoreLeftContent">
                <div class="MapSection">
                    <div class="StoreMap">
                        <div class="Map">
                            <iframe width="320" height="242" style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2856.912972129325!2d-88.47959!3d44.27061!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4faec671f9e36162!2sRogan's+Shoes!5e0!3m2!1sen!2sus!4v1410015715193" frameborder="0"></iframe>
                        </div>
                        <div class="MapAddress">
                            <p>
                                <address>
                                    <span itemscope="" itemtype="http://schema.org/Store">
                                        <em itemprop="name" colspan="3">Rogan's Shoes</em>
                                    </span>
                                    <span itemscope="" itemtype="http://schema.org/PostalAddress">
                                        <em itemprop="streetAddress" colspan="3">1035 N Mutual Way</em>
                                    </span>
                                    <span itemscope="" itemtype="http://schema.org/PostalAddress">
                                        <em itemprop="addressLocality">Appleton,</em>
                                        <em itemprop="addressRegion">WI</em>
                                        <em itemprop="postalCode">&nbsp;54915</em>
                                    </span>
                                </address>
                                <address>
                                    <span>
                                        <em colspan="3">Store Hours:</em>
                                    </span>
                                    <span itemscope="" itemtype="htt://schema.org/ShoeStore">
                                        <em itemprop="openinghours" datetime="Mo-Fr 09:00-21:00" colspan="3">M-F 9am-9pm</em>
                                    </span>
                                    <span itemscope="" itemtype="htt://schema.org/ShoeStore">
                                        <em itemprop="openinghours" datetime="Sa 09:00-18:00" colspan="3">Saturday 9am-6pm</em>
                                    </span>
                                    <span itemscope="" itemtype="htt://schema.org/ShoeStore">
                                        <em itemprop="openinghours" datetime="Su 10:00-17:00" colspan="3">Sunday 10am-5pm</em>
                                    </span>
                                </address>
                                <address>
                                    <span>
                                        <em colspan="3">Phone Number:</em>
                                    </span>
                                    <span itemscope="" itemtype="htt://schema.org/ShoeStore">
                                        <em itemprop="telephone" colspan="3">920-730-0260</em>
                                    </span>
                                </address>
                            </p>        
                        </div>
                    </div>
                    <div class="MapSocialMedia">
                        <p><img src="https://is30.eporia.com/company_1011/1079623.jpg?cvt=jpeg" usemap="#SocialMedia" /><a title="Better Business Burea Review" href="https://www.bbb.org/wisconsin/business-reviews/shoes-retail/rogan-shoes-inc-in-racine-wi-22001134/#bbbonlineclick"><img src="https://is30.eporia.com/company_1011/1079624.jpg?cvt=jpeg" border="0" /></a></p>
                    </div>
                </div>
            </div>
            <div class="StoreRightContent">
                <div class="StoreAddress">
                    <h3>Contact US:</h3>
                    <p>Contact Store via email <a href="mailto:she@rogansshoes.com">Store Email</a></p>
                    <p>Email RogansShoes.com <a href="mailto:online@rogansshoes.com">Email Website</a></p>
                    <p><img name="Oshkosh Store" alt="" src="../../../../../Data/Default/Images/a3-amanda.jpg" height="177" width="466" /></p>
                </div>
            </div>
        </div>
        <div class="StoreSection last">
            <div class="StoreLeftContent">
                <div class="AboutStore">
                    <p itemscope="" itemtype="http://schema.org/LocalBusiness"><span itemprop="description">Rogan's Shoes is a family owned and operated chain of family shoe stores. Rogan's is dedicated to provide their customers with great customer selection and service with name brand shoes for the entire family. The Appleton West store was established in 1993.</span></p>
                    <p><img itemprop="image" id="Img1" title="Rogans Shoes Appleton West Shoe Store" src="../../../../../Data/Default/Images/AppletonWestShoeStore.jpg" alt="Appleton West Shoe Store Location" name="CustomerTrust" height="173" width="503" /></p>
                </div>
            </div>
            <div class="StoreRightContent">
                <div class="StoreTestimonial">
                    <div itemscope="" itemtype="http://schema.org/Review" valign="top">
                        <h3>Testimonials:</h3>
                        <p itemprop="about">"Service is great! This will be the 4th pair of shoes I've ordered from your site. Always great service and very helpful if I called with a question."  <span itemprop="author">- Maggie</span></p>

                    </div>
                </div>
            </div>
        </div>

        <p><map name="SocialMedia" id="SocialMedia"> 
        <area shape="rect" coords="2,0,56,47" href="https://plus.google.com/106982969745817696421/about" alt="Google Local page Appleton West Rogans" title="Appleton West Google Localization page for Rogans Shoes" />
 
        <area shape="rect" coords="62,0,112,47" href="http://www.bing.com/local?lid=YN873x16182197115572908484&amp;id=YN873x16182197115572908484&amp;q=Rogan%27s+Shoes+Appleton+WI" alt="Bing Localization of Rogans Shoes for Appleton West" title="Bing Local for Rogans Shoes Appleton West" />
 
        <area shape="rect" coords="121,0,174,47" href="https://local.yahoo.com/info-16911045-rogan-s-shoes-appleton" alt="Yahoo Localization Rogans Shoes" title="Yahoo localization for Rogans Shoes in Appleton West" />
 
        <area shape="rect" coords="182,0,234,47" href="http://www.yelp.com/biz/rogans-shoes-appleton-3" alt="Yelp - Rogans Shoes Appleton West" title="Yelp Reviews for Rogans Shoes in Appleton West" />
 
        <area shape="rect" coords="240,0,295,47" href="https://www.facebook.com/RogansAppletonWest" alt="Rogans Shoes Appleton West Facebook Page" title="Follow Rogans Shoes in Appleton West on Facebook" />
         </map></p>
    </div>