﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="WebApp.Controls_Default_Product_CatalogImage" CodeBehind="CatalogImage.ascx.cs" %>
<div id="CatalogImage_outer">
    <div id="CatalogImage_inner">
        <div id="CatalogImage_items">
            <span>
                <asp:PlaceHolder ID="uxPlaceHolder" runat="server"></asp:PlaceHolder>
            </span>
        </div>
    </div>
</div>

