﻿
    <table width="650" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" style="border-top: 1px solid #af64a8; border-bottom: 1px solid #af64a8; border-left: 1px solid #af64a8; border-right: 1px solid #af64a8; display:table;">
    <tr>
        <td align="left" valign="top" width="650">
            <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                <tr bgcolor="#ffffff" style="border-bottom: 0;">
                    <td align="left" valign="top">
                        <table width="650" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" valign="top" width="650">
                                    <table width="650" border="0" cellspacing="0" cellpadding="0">
                                        <!-- Header Start -->
                                        <tr>
                                            <td align="left" valign="top" width="650">

                                                <table width="650" border="0" cellspacing="0" cellpadding="0">
                                                    <tr style="background-color: #ffffff">
                                                        <td align="left" valign="top" width="300" style="padding-left: 10px; padding-top:20px;"><a href="#" title="Rogans Shoes" target="_blank">
                                                            <img style="display: block" border="0" height="#LogoHeight#" width="#LogoWidth#" src="<#RoganShoesLogo#>" alt="Cheer and Pom" style="padding-top:20px" /></a>
                                                        </td>
                                                        <td align="right" valign="top" width="350" style="padding: 15px 10px 10px 0"> 
                                                            <p style="font-size: 17px; font-family: Arial, Helvetica; color: #af64a8; font-weight: 800; padding: 10px 0 10px 0; margin: 0">#CustomerCarePhoneNo#</p>
                                                            <p style="font-size: 17px; font-family: Arial, Helvetica; font-weight: 800; padding: 5px 0; margin: 0"><a href="#MailToCustomerCareEmailId#" style="color: #af64a8; text-decoration: none;padding-bottom:10px">#CustomerCareEmailId#</a></p>
                                                        </td>
                                                    </tr>
                                                    <tr style="background-color: #af64a8">
                                                        <td align="left" valign="top" width="350" height="5">
                                                            <!-- <p style="font-family: Arial, Helvetica;font-size:16px;font-weight:100;color: #fff"><a href="#" title="Free Shipping" target="_blank" style="text-decoration:none;color:#fff" ><img style="float:left;margin-right:10px" border="0"  height="32" width="31" src="images/FreeShipping.jpg" alt="Free Shipping" /><span style="font-family: Arial, Helvetica;font-size: 17px;text-transform:uppercase">Always free shipping</span> to the lower 48 U.S. States!*</p> -->
                                                        </td>
                                                        <td align="right" valign="bottom" width="300" height="5"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <!-- Header End -->
                                        <tr>
                                            <td align="left" valign="top" width="630">
                                                <img style="display: block" border="0" height="10" width="10" src="<#SpacerImage#>" alt="" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" width="650" style="padding: 0 10px;">
                                            
