<%@ Page Language="C#" MasterPageFile="~/SiteAdmin/Themes/Standard/edit.master" AutoEventWireup="True" Inherits="SiteAdmin.Secure.Advanced.Accounts.StoreAdministrators.Delete" Codebehind="Delete.aspx.cs" %>

<%@ Register Src="~/SiteAdmin/Controls/Default/Accounts/AccountDelete.ascx" TagName="AccountDelete" TagPrefix="ZNode" %>

<asp:Content ID="Content1" ContentPlaceHolderID="uxMainContent" runat="Server">
     <ZNode:AccountDelete ID="uxAccountDelete" runat="server" />
</asp:Content>
