﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteAdmin/Themes/Standard/content.master" AutoEventWireup="true" CodeBehind="View.aspx.cs" Inherits="WebApp.SiteAdmin.Secure.Help.View" %>
<asp:Content ID="Content1" ContentPlaceHolderID="uxMainContent" runat="server">
<h1><asp:Label ID="lblerror" runat="server" ></asp:Label></h1>
</asp:Content>
