<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/Brand/Brand.ascx" TagName="Brand" TagPrefix="ZNode" %>
<%@ Register Src="~/Controls/Default/Category/NavigationCategories.ascx" TagName="NavigationCategories" TagPrefix="ZNode" %>
<%@ Register Src="~/Controls/Default/specials/navigationspecials.ascx" TagName="NavigationSpecials" TagPrefix="ZNode" %>
<%@ Register Src="~/Controls/Default/CustomMessage/CustomMessage.ascx" TagName="CustomMessage" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
   
	<div class="ContentContainer">
        <div class="row">
            <div class="col-lg-12 ShopByBrand">
                <ZNode:Brand ID="uxBrand" runat="server"  Visible="true"/>

	        </div>
        </div>
    </div>
       
	              
</asp:Content>