<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/Checkout/Notification.ascx" TagName="Notifications" TagPrefix="ZNode" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
   <div class="ContentContainer"><ZNode:Notifications ID="uxNotification" runat="server"  Visible="true"/></div>
</asp:Content>

