<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/SiteMap/sitemap.ascx" TagName="SiteMap" TagPrefix="ZNode" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
   <div class="ContentContainer"><ZNode:SiteMap ID="uxSiteMap" runat="server"  Visible="true"/></div>
</asp:Content>