﻿<%@ Master Language="C#" MasterPageFile="~/Themes/CheerAndPom/MasterPages/main.master" AutoEventWireup="true" %>
<%@ Register Src="~/Controls/Default/Category/ZBrandsCategoryList.ascx" TagName="BrandList" TagPrefix="Zeon" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <Zeon:BrandList ID="ucBrandList" runat="server" />
</asp:Content>
