﻿@media print{

/*---- Product Deatil ----*/
#ShoppingCart,.ShippingInfo,.Socail-Icon,.RightTopcontent,#RelatedTabs,.RecentlyViewedProducts,#FooterContent,#Footer{display:none}
#Logo a{height:auto}
#Logo a img{padding-left:0;margin-bottom:15px}
#BreadCrumb{display:none}
.targetarea > img{width:250px;height:350px}
.tabStructure.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all,.CompareProductWrapper .Button.Remove{display:none}
.ProductDetailsSection #ProductDetail .MainProductBlock .ProductBottomBlock li{width:30%}
.ProductDetailsSection #ProductDetail .ProductBottomBlock li span{font-size:14px}
h2.resp-accordion, .TabSection h3{display:block !important;padding:0;margin:0 0 10px;border:none}
.ProductPanel.ui-tabs-panel.ui-widget-content.ui-corner-bottom{display:block !important;margin-bottom:20px}
ul.resp-tabs-list, .Tabs .TabSection ul{padding:0;margin:0;display:block;float:none;height:auto}
.resp-tabs-list li, .Tabs .TabSection li.ui-state-default{display:block;float:none}
.resp-tab-active span, .ui-state-active a{border:none}
.Tabs .TabSection .ui-state-active a, .Tabs .TabSection .ui-state-default a{height:auto;padding:0;float:none;border:none;}
.resp-tab-content, .Tabs .TabSection .ProductPanel, .Tabs .ProductPanel{padding:10px 0;border:none}
.QuickView, .QuickView #ProductDetail {width: 850px !important;}
.AlternateImageSection .item {border: 1px solid #dedede; margin:8px; overflow:hidden;}
.QuickView .Socail-Icon, .IconLink, #ProductDetail .BrandImage, .Checkout .Steps, .Checkout.Confirmation .ContinueShoppingBtn{display:none;}
#ProductDetail .AddToCartButton a, .Quickwatch #ProductDetail .AddToCartButton a, #ReviewList tr {border-bottom:1px solid #fff;}
.resp-tab-content, .Tabs .TabSection .ProductPanel, .Tabs .ProductPanel {padding:10px 0 0 0; overflow-x: hidden;}
h2.resp-accordion a, .TabSection h3 a {font-weight:400; color:red;}
#ProductDetail .CataLogImage, input, select {border-bottom: 1px solid #000;}
.ProductDetailsSection #ProductDetail .MainProductBlock .ProductBottomBlock li {border-right:1px solid #000;}
.CommonTable td {border-left: 1px solid #000 !important; border-bottom: 1px solid #000 !important;}
.CommonTable table {border-top: 1px solid #000 !important; border-left: 1px solid #000 !important; border-right: 1px solid #000 !important;}
.QuickView #ProductDetail #CatalogImage_items, #ProductDetail #CatalogImage_items {margin-bottom: 20px;}
.ProductAttributes #divRadioList .AttributeRadio label img {overflow:hidden;}
.AlternateImageSection .item img {padding:1px;}
.ProductComparisonTableData ul li:nth-child(1) strong {border-radius:0;}
.ProductComparison .CompareSection {margin-top:0;}
.ProductComparison div:empty {display:none;}
}