<%@ Control Language="C#" AutoEventWireup="true" Inherits="WebApp.Controls_Default_Common_CompanyName" Codebehind="CompanyName.ascx.cs" %>
<asp:Label ID="uxCompanyName" runat="server" Text="Label"></asp:Label>