<%@ Control Language="C#" AutoEventWireup="true" Inherits="WebApp.Controls_Default_Common_PoweredByZnode" Codebehind="PoweredByZNode.ascx.cs" %>
<div id="PoweredByZNode"><a href="http://www.znode.com" target="_blank">
<img id="ImgZnode" src="" border="0" alt="" runat="server" /></a></div> 