<%@ Control Language="C#" AutoEventWireup="true" EnableViewState="false" Inherits="WebApp.Controls_Default_Common_SalesDepartmentPhone" Codebehind="SalesDepartmentPhone.ascx.cs" %>
<asp:Label ID="uxSalesDepartmentPhone" runat="server" Text="Label"></asp:Label>