<%@ Control Language="c#" Inherits="WebApp.Controls_Default_Common_Spacer" Codebehind="Spacer.ascx.cs" EnableViewState="false" %>
<asp:Image id="imgClear" runat="server"  AlternateText="ClearImage" />