<%@ Master Language="C#" AutoEventWireup="True" Inherits="SiteAdmin.admin_themes_standard_content" CodeBehind="content.master.cs" %>

<%@ Register Src="~/SiteAdmin/Controls/Default/spacer.ascx" TagName="spacer" TagPrefix="ZNode" %>
<%@ Register Src="~/SiteAdmin/Controls/Default/Footer.ascx" TagName="Footer" TagPrefix="ZNode" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <link id="Link1" href="~/SiteAdmin/Themes/Standard/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <!-- to apply css rules for IE 7 only -->
    <!--[if lte IE 7]>
	    <div id="ie7css">
	    <![endif]-->
    <form id="form1" runat="server" autocomplete="off">
        <script language="javascript" type="text/javascript" src='<%= Page.ResolveClientUrl("/js/tinymce/tiny_mce.js") %>'></script>        
        <script src='<%= Page.ResolveClientUrl("/js/jquery-1.9.0.min.js") %>' type="text/javascript"></script>
        <script src='<%= Page.ResolveClientUrl("/js/jquery-ui-1.8.16.custom.min.js") %>' type="text/javascript"></script>
        <script src='<%= Page.ResolveClientUrl("/js/jquery-extensions.js") %>' type="text/javascript"></script>
        <%--<script src='<%= Page.ResolveClientUrl("/js/ui-core.js") %>' type="text/javascript"></script>
        <script src='<%= Page.ResolveClientUrl("/js/ui-popups.js") %>' type="text/javascript"></script>--%>
        <script src='<%= Page.ResolveClientUrl("/js/mootools/mootools-1.2.1-core.js") %>' type="text/javascript"></script>
        <script src='<%= Page.ResolveClientUrl("/js/mootools/mootools-1.2-more.js") %>' type="text/javascript"></script>
        <script src='<%= Page.ResolveClientUrl("/js/mootools/SlideItMoo-1.1.js") %>' type="text/javascript"></script>

        <script type="text/javascript">
            function showNestedGridView(obj) {

                var nestedGridView = document.getElementById(obj);
                var imageID = document.getElementById('image' + obj);

                if (nestedGridView.style.display == "none") {
                    nestedGridView.style.display = "inline";
                    imageID.src = "../../../../../SiteAdmin/Themes/Images/minus.png";
                } else {
                    nestedGridView.style.display = "none";
                    imageID.src = "../../../../../SiteAdmin/Themes/Images/plus.png";
                }

            }
        </script>
        <ajaxToolKit:ToolkitScriptManager runat="server" EnablePartialRendering="true">
            <Scripts>
                <asp:ScriptReference Path="~/js/Safari3AjaxHack.js" />
            </Scripts>
        </ajaxToolKit:ToolkitScriptManager>
        <div id="Container">
            <div class="HeaderPane">
                <div class="BackgroundLeft">
                    <ZNode:spacer runat="server" SpacerHeight="7" SpacerWidth="7" />
                </div>
                <div class="BackgroundMiddle">
                    <div class="Logo">
                        <img alt="" src="~/SiteAdmin/Themes/images/multifront_logo.png" runat="server" />
                    </div>

                    <div class="RightElement">
                        <div class="WelcomeNote">
                            WELCOME
                        <asp:LoginName ID="uxLoginName" runat="server" />
                        </div>
                        <div class="Links">
                            <span class="LinkItem"><a runat="server" id="helplink"  href="~/SiteAdmin/Secure/Help/Default.aspx">HELP</a></span>
                            <span class="LinkItem"><a href="/SiteAdmin/Secure/ChangePassword.aspx">Password</a></span>
                            <span
                                class="LinkItem"><asp:LoginStatus ID="uxLoginStatus" LogoutAction="Redirect" LogoutPageUrl="~/Default.aspx" OnLoggedOut="uxLoginStatus_LoggedOut"
                                    runat="server" />
                            </span>
                        </div>
                    </div>
                </div>
                <div class="BackgroundRight">
                    <ZNode:spacer runat="server" SpacerHeight="7" SpacerWidth="7" />
                </div>
            </div>
            <div class="HeaderSpacer">
                <ZNode:spacer runat="server" SpacerHeight="1" SpacerWidth="1" />
            </div>
            <div class="MenuPane">
                <div class="BackgroundLeft">
                </div>
                <div class="BackgroundMiddle">
                    <div id="top-nav">
                        <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" ShowStartingNode="False" SiteMapProvider="ZNodeAdminSiteMap" />

                        <asp:Repeater runat="server" ID="rptMenu" DataSourceID="SiteMapDataSource1">
                            <HeaderTemplate>
                                <ul class="horizontal-nav clearwrap" id="ulMenu">
                            </HeaderTemplate>
                            <ItemTemplate>
                                <li>
                                    <div class="nav-item <%# ((SiteMapNode) Container.DataItem).ChildNodes.Count == 0 || Eval("title").ToString() == "Reports" ? "no-children" : "" %>">
                                        <a class="<%# SelectedStyle(Container.DataItem) %> link" href="<%#Eval("url") %>"><span class="wrap-out">
                                            <span class="wrap-in">
                                                <span class="text"><%#Eval("title")%></span>
                                            </span>
                                        </span></a>
                                        <asp:Repeater runat="server" ID="rptSubMenu" Visible='<%# ((SiteMapNode) Container.DataItem).ChildNodes.Count != 0  && Eval("title").ToString() != "Reports" %>' DataSource='<%# ((SiteMapNode) Container.DataItem).ChildNodes %>'>
                                            <HeaderTemplate>
                                                <div class="sub-nav clearwrap" style="display: none;">
                                                    <ul class="vertical-nav">
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <li><a class="link" href="<%#Eval("url") %>"><%#Eval("title") %></a></li>
                                            </ItemTemplate>
                                            <FooterTemplate>
                                                </ul></div>
                                            </FooterTemplate>
                                        </asp:Repeater>
                                    </div>
                                </li>
                            </ItemTemplate>
                            <FooterTemplate>
                                </ul>
                            </FooterTemplate>
                        </asp:Repeater>
                    </div>
                </div>
                <div class="BackgroundRight">
                </div>
            </div>
            <div class="ContentPane">
                <div class="Content">                                        
                    <div style="text-align: left;">
                        <div class="LandingPage">
                            <asp:ContentPlaceHolder ID="uxMainContent" runat="server">
                            </asp:ContentPlaceHolder>
                        </div>
                    </div>
                </div>
                <div class="ClearBoth"></div>
                <div class="BottomImage">
                <img align="top" alt="" src="~/SiteAdmin/Themes/images/content_box_bottom.png" runat="server" />
                    </div>
            </div>
            <ZNode:spacer runat="server" SpacerHeight="8" SpacerWidth="1" />
            <div>
                <ZNode:Footer ID="uxFooter" runat="server" />
            </div>
        </div>
        <div style="display: none;">
            <asp:SiteMapPath ID="Sitemap" runat="server" SiteMapProvider="ZNodeAdminSiteMap">
            </asp:SiteMapPath>
        </div>
                
        <script type="text/javascript">
            var $j = jQuery.noConflict();
            $j(document).ready(function () {
                $j("#top-nav ul.horizontal-nav > li .nav-item").hover(
                    function () {
                        var nav = $j(this).closest(".nav-item");
                        var position = nav.position();

                        nav.find(".sub-nav").positionWithinViewport(
                        {
                            absoluteXPos: position.left,
                            absoluteYPos: position.top + nav.height(),
                            viewport: $j(".viewport"),
                            speed: 10
                        });
                    },
                    function () {
                        $j(this).closest("li").find(".sub-nav").hide();
                    }
                );
            });
        </script>

    </form>
    <!--[if IE 7]>
	     </div>
	     <![endif]-->
</body>
</html>
