<%@ Master Language="C#" AutoEventWireup="true" Inherits="SiteAdmin.admin_themes_standard_login" Codebehind="login.master.cs" %> 
<%@ Register Src="~/SiteAdmin/Controls/Default/spacer.ascx" TagName="spacer" TagPrefix="ZNode" %>
<%@ Register Src="~/SiteAdmin/Controls/Default/Footer.ascx" TagName="Footer" TagPrefix="ZNode" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Znode Store Management Login</title>
    <link id="Link1" href="~/SiteAdmin/Themes/Standard/style.css" type="text/css" rel="stylesheet"
        runat="server" />	
</head>
<body><!-- to apply css rules for IE 7 only -->
    <!--[if lte IE 7]>
	    <div id="ie7css">
	    <![endif]-->
    <form id="form1" runat="server">
    <div id="Container">
        <div class="HeaderPane">
            <div class="BackgroundLeft">
                <ZNode:spacer ID="Spacer1" runat="server" spacerheight="7" spacerwidth="7" />
            </div>
            <div class="BackgroundMiddle">
                <div class="Logo">
                    <img id="Img1" alt="" src="~/SiteAdmin/Themes/images/multifront_logo.png" runat="server" /></div>
               
            </div>
            <div class="BackgroundRight">
                <ZNode:spacer ID="Spacer2" runat="server" spacerheight="7" spacerwidth="7" />
            </div>
        </div>
        <div class="HeaderSpacer">
            <ZNode:spacer runat="server" SpacerHeight="1" SpacerWidth="1" />
        </div>
        <div class="MenuPane">
            <div class="BackgroundLeft">
            </div>
            <div class="BackgroundMiddle">
                <div class="PageTitle">
                    Login</div>
            </div>
            <div class="BackgroundRight">
            </div>
        </div>
        <div class="ContentPane">
            <div class="Content">
                <asp:ContentPlaceHolder ID="uxMainContent" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <img align="top" alt="" src="~/SiteAdmin/Themes/images/content_box_bottom.png" runat="server" />
        </div>
        <ZNode:spacer runat="server" SpacerHeight="8" SpacerWidth="1" />
        <ZNode:Footer ID="uxFooter" runat="server" />
    </div>
    </form><!--[if IE 7]>
	     </div>
	     <![endif]-->
</body>
</html>
