<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="~/SiteAdmin/Themes/Standard/content.master" 
Inherits="ZNode.Libraries.Framework.Business.ZNodeAdminTemplate" %>
<%@ Register Src="~/SiteAdmin/Controls/Default/spacer.ascx" TagName="spacer" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="uxMainContent" runat="Server">
<script language="javascript" type="text/javascript" src='<%= Page.ResolveClientUrl("~/js/tinymce/tiny_mce.js") %>'></script> 
    <div class="Content">
        <asp:ContentPlaceHolder ID="uxMainContent" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</asp:Content>
