<%@ Control Language="C#" AutoEventWireup="true" EnableViewState="false" Inherits="WebApp.Controls_Default_CustomMessage_CustomMessage" Codebehind="CustomMessage.ascx.cs" %>
<div><asp:Literal id="lblMsg" runat="server" EnableViewState="false"></asp:Literal></div>