﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="HomePageBanner.ascx.cs" Inherits="WebApp.Controls.Default.CustomMessage.HomePageBanner" %>
<asp:Literal ID="ltrBannerText" runat="server"></asp:Literal>