<%@ Control Language="C#" AutoEventWireup="true" Inherits="WebApp.Controls_Default_Reviews_ProductAverageRating" CodeBehind="ProductAverageRating.ascx.cs" %>
<asp:Literal ID="ltrRatingValues" runat="server" EnableViewState="false"></asp:Literal>
<span class="RatingImage">
    <a id="Productpath1" enableviewstate="false" runat="server" >
        <%--<asp:PlaceHolder ID="ImageRatingStar" runat="server" EnableViewState="false" />--%>
        Star
    </a>
</span>
<asp:Literal ID="ltrMetaDivClose" runat="server" EnableViewState="false"></asp:Literal>
<%--<a id="Productpath2" enableviewstate="false" style="text-decoration: none;" runat="server">&nbsp;<asp:Label ID="lbltotalRating" runat="server"></asp:Label></a>
<span id="ReviewLink" runat="server" visible="false">| <a href="#">
    <asp:Label ID="lblReview" meta:resourcekey="lblReview" runat="server" /></a></span> --%>
