<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="~/Themes/B2B/MasterPages/main.master" %>
<%@ Register Src="~/Controls/Default/Category/category.ascx" TagName="Category" TagPrefix="ZNode" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">	
	<!-- Scripts - BEGIN -->
	<script language="javascript" type="text/javascript" src="js/mootools/mootools-1.2.1-core.js"></script>
	<script language="javascript" type="text/javascript" src="js/mootools/mootools-1.2-more.js"></script>
	<script language="javascript" type="text/javascript" src="js/mootools/SlideItMoo-1.1.js"></script>
	<script language="javascript" type="text/javascript" src="js/SqueezeBox/SqueezeBox.js"></script>
	<script language="javascript" type="text/javascript" src="../../../js/TreeMenu.js"></script>

    <!-- Scripts - END  -->
	
	<div><ZNode:Category ID="uxCategory" runat="server" Visible="true"/></div>
	
	
	<script language="javascript" type="text/javascript">
		var theForm = document.forms[0];
		
		if(theForm != null)
			theForm.action = "";
	</script>
</asp:Content>