<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/Product/HighlightInfo.ascx" TagName="HighlightInfo" TagPrefix="ZNode" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
    <div class="ContentContainer"><ZNode:HighlightInfo id="HighlightInfo" runat="server"/></div>
</asp:Content>