<%@ Master Language="C#" AutoEventWireup="true" %>
<%@ Register Src="~/Controls/Default/QuickWatch/QuickWatch.ascx" TagName="QuickWatch" TagPrefix="ZNode" %>

<html xmlns="http://www.w3.org/1999/xhtml">
	<head id="Head" runat="server">
		<script language="javascript" type="text/javascript" src="js/mootools/mootools-1.2.1-core.js"></script>
		<script language="javascript" type="text/javascript" src="js/mootools/mootools-1.2-more.js"></script>
		<script language="javascript" type="text/javascript" src="js/mootools/SlideItMoo-1.1.js"></script>
	</head>
	<body style="background:none;">
		<form id="form1" runat="server">
			<ajaxToolKit:ToolkitScriptManager ID="uxScriptManager" runat="server" EnablePartialRendering="true"></ajaxToolKit:ToolkitScriptManager>
			<ZNode:QuickWatch ID="uxQuickWatch" runat="server"  Visible="true"/>
		</form> 
	</body> 
</html>