<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/Search/search.ascx" TagName="Search" TagPrefix="ZNode" %>
<%@ Register Src="~/Controls/Default/category/navigationcategories.ascx" TagName="NavigationCategories" TagPrefix="ZNode" %>
<%@ Register Src="~/Controls/Default/specials/navigationspecials.ascx" TagName="NavigationSpecials" TagPrefix="ZNode" %>
<%--<%@ Register Src="~/Controls/Default/common/QuickSearch.ascx" TagName="QuickSearch" TagPrefix="ZNode" %>--%>
<%@ Register Src="~/Controls/Default/navigation/NavigationBreadCrumbs.ascx" TagName="StoreBreadCrumbs" TagPrefix="ZNode" %>
<%@ Register Src="~/Controls/Default/navigation/navigationbrand.ascx" TagName="NavigationBrand" TagPrefix="ZNode" %>
<%@ Register Src="~/Controls/Default/price/navigationprice.ascx" TagName="NavigationPrice" TagPrefix="ZNode" %>
<%@ Register Src="~/Controls/Default/CustomMessage/CustomMessage.ascx" TagName="CustomMessage" TagPrefix="ZNode" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
	<!-- Scripts - BEGIN -->
	<script language="javascript" type="text/javascript" src="js/mootools/mootools-1.2.1-core.js"></script>
	<script language="javascript" type="text/javascript" src="js/mootools/mootools-1.2-more.js"></script>
	<script language="javascript" type="text/javascript" src="js/mootools/SlideItMoo-1.1.js"></script>
	<script language="javascript" type="text/javascript" src="js/SqueezeBox/SqueezeBox.js"></script>
	<!-- Scripts - END  -->
	
    <div id="LeftColumn">
       <ZNode:NavigationCategories ID="CATEGORIES" runat="server"></ZNode:NavigationCategories>
       
       <ZNode:NavigationSpecials ID="NavigationSpecials" runat="server" Title="Featured Products"></ZNode:NavigationSpecials>
       
       <div id="NewsLetter">
			<div class="Title"><ZNode:CustomMessage ID="CustomMessage1" MessageKey="LeftNavigationNewsletterSignupTitle" runat="server" /></div>
			<a id="A1" class="Text" href="~/EmailSignup.aspx" runat="server"><ZNode:CustomMessage ID="CustomMessage2" MessageKey="LeftNavigationNewsletterSignupLinkText" runat="server" /></a>                    
		</div>
    </div>
    
	<div id="MiddleColumn">
		<div><ZNode:Search ID="uxSearch" runat="server"  Visible="true"/></div>                   
	</div>
</asp:Content>