﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ZProductSkuImages.ascx.cs" Inherits="WebApp.Controls.CheerandPom.Product.ZProductSkuImages" %>
<div id="Attributes">
    <asp:Panel ID="pnlOptions" runat="server" Visible=" false">
        <asp:PlaceHolder runat="server" ID="ControlPlaceHolder"></asp:PlaceHolder>
    </asp:Panel>
</div>
