<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/Checkout/Checkout.ascx" TagName="Checkout" TagPrefix="ZNode" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
   <div class="ContentContainer"><ZNode:Checkout ID="uxCheckout" runat="server"  Visible="true"/></div>
</asp:Content>