<%@ Master Language="C#" AutoEventWireup="true" %>
<%@ Register Src="~/Controls/Default/Product/ProductZoom.ascx" TagName="ProductZoom" TagPrefix="ZNode" %>

<html xmlns="http://www.w3.org/1999/xhtml">
	<head id="Head" runat="server">
	</head>
	<body style="background:none;">
		<form id="form1" runat="server">			
			<ZNode:ProductZoom ID="uxProductZoom" runat="server"  Visible="true"/>
		</form> 
	</body> 
</html>