<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/Account/Register.ascx" TagName="RegisterUser" TagPrefix="ZNode" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
   <div class="ContentContainer"><ZNode:RegisterUser ID="uxRegisterUser" runat="server"  Visible="true"/></div>
</asp:Content>