<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/Account/ResetPassword.ascx" TagName="ResetPassword" TagPrefix="ZNode" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
   <div class="ContentContainer"><ZNode:ResetPassword ID="uxResetPassword" runat="server"  Visible="true"/></div>
</asp:Content>