<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="main.master" %>
<%@ Register Src="~/Controls/Default/Reviews/CustomerReview.ascx" TagName="CustomerReview" TagPrefix="ZNode" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
    <div><ZNode:CustomerReview id="uxCustomerReview" ShowProsField="false" ShowConsField="false" runat="server"/></div>
</asp:Content>