<%@ Page Language="C#" MasterPageFile="~/SiteAdmin/Themes/Standard/edit.master" AutoEventWireup="true" %>
<%@ Register Src="~/SiteAdmin/Secure/Inventory/ImportExportData/DownloadOrderShipping.ascx" TagName="DownloadOrderShipping" TagPrefix="ZNode" %>


<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="uxMainContent">
    <div><ZNode:DownloadOrderShipping ID="DownloadOrderShipping1" runat="server" /></div>
</asp:Content>
