<%@ Control Language="C#" AutoEventWireup="True"
    Inherits="SiteAdmin.Secure.Inventory.ImportExportData.DownloadAttributes" CodeBehind="DownloadAttributes.ascx.cs" %>
<%@ Register TagPrefix="ZNode" TagName="Spacer" Src="~/SiteAdmin/Controls/Default/spacer.ascx" %>
<div class="Form SearchForm">
    <h1>Download Attributes</h1>
    <div>
        <ZNode:Spacer ID="Spacer1" SpacerHeight="5" SpacerWidth="3" runat="server"></ZNode:Spacer>
    </div>
    <div>
        <ZNode:Spacer ID="Spacer2" SpacerHeight="5" SpacerWidth="3" runat="server"></ZNode:Spacer>
    </div>
    <div class="RowStyle" id="divCatalog" runat="server">
        <div class="ItemStyle">
            <div class="FieldStyle">
                Select Catalog
            </div>
            <div class="ValueStyle">
                <asp:DropDownList ID="ddlCatalog" runat="server" AutoPostBack="true" OnSelectedIndexChanged="DdlCatalog_SelectedIndexChanged">
                </asp:DropDownList>
            </div>
        </div>
    </div>
    <div class="RowStyle">
        <div class="ItemStyle">
            <div class="FieldStyle">
                Select Attribute Type
            </div>
            <div class="ValueStyle">
                <asp:DropDownList ID="lstAttributeTypeList" runat="server" AutoPostBack="true" OnSelectedIndexChanged="LstAttributeTypeList_SelectedIndexChanged" />
            </div>
        </div>
    </div>
    <div class="RowStyle">
        <div class="ItemStyle">
            <div class="FieldStyle">
                File Type
            </div>
            <div class="ValueStyle">
                <asp:DropDownList ID="ddlFileSaveType" runat="server">
                    <asp:ListItem Text="Microsoft Excel (.xls)" Value=".xls"></asp:ListItem>
                    <asp:ListItem Text="Delimited File Format" Value=".csv" Selected="True"></asp:ListItem>
                </asp:DropDownList>
            </div>
        </div>
    </div>
    <div>
        <ZNode:Spacer ID="Spacer3" SpacerHeight="1" SpacerWidth="3" runat="server"></ZNode:Spacer>
    </div>
    <div class="ClearBoth">
        <div class="Error">
            <asp:Literal ID="ltrlError" runat="server"></asp:Literal>
        </div>
        <div>
            <a href="../../../Data/Default/Config/ActivityLog.txt" id="lnkLog" runat="server"
                visible="false" target="_blank">Click here to view log >></a>
        </div>
        <div>
            <ZNode:Spacer ID="Spacer4" SpacerHeight="10" SpacerWidth="3" runat="server"></ZNode:Spacer>
        </div>
        <div class="ClearBoth">
            <div class="ImageButtons">
                <asp:Button ID="btnDownloadProduct" runat="server" Text="Download Attributes" OnClick="BtnSubmit_Click" />
                <asp:ImageButton ID="btnCancel" CausesValidation="False" onmouseover="this.src='../../../Themes/Images/buttons/button_cancel_highlight.gif';"
                    onmouseout="this.src='../../../Themes/Images/buttons/button_cancel.gif';" ImageUrl="~/SiteAdmin/Themes/images/buttons/button_cancel.gif"
                    runat="server" AlternateText="Cancel" OnClick="BtnCancel_Click" />
            </div>
        </div>
    </div>
</div>
