<%@ Page Language="C#" MasterPageFile="~/SiteAdmin/Themes/Standard/edit.master" AutoEventWireup="true" %>
<%@ Register Src="DownloadSku.ascx" TagName="DownloadSku" TagPrefix="ZNode" %>


<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="uxMainContent">
    <div><ZNode:DownloadSku ID="DownloadSku1" runat="server" /></div>
</asp:Content>
