<%@ Page Language="C#" MasterPageFile="~/SiteAdmin/Themes/Standard/edit.master" AutoEventWireup="true" %>
<%@ Register Src="UpdateOrderShipping.ascx" TagName="UpdateOrderShipping" TagPrefix="ZNode" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="uxMainContent">    
    <ZNode:UpdateOrderShipping ID="UpdateOrderShipping1" runat="server" />
</asp:Content>
