<%@ Page Language="C#" MasterPageFile="~/SiteAdmin/Themes/Standard/content.master" AutoEventWireup="true" %>
<%@ Register Src="UploadTags.ascx" TagName="UploadTags" TagPrefix="ZNode" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="uxMainContent">    
    <ZNode:UploadTags ID="uxUpdateSku" runat="server" />
</asp:Content>
