<%@ Page Language="C#" MasterPageFile="~/SiteAdmin/Themes/Standard/edit.master" AutoEventWireup="true" %>
<%@ Register Src="~/SiteAdmin/Secure/Inventory/ImportExportData/UploadAttributes.ascx" TagName="UploadAttributes" TagPrefix="ZNode" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="uxMainContent">    
    <ZNode:UploadAttributes ID="UploadAttributes1" runat="server" />
</asp:Content>